In [27]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [28]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1690,tt0413267,160000000,798958165,Shrek the Third,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Chris Miller|Raman Hui,Who's ready for Thirds?,The King of Far Far Away has died and Shrek an...,93,Fantasy|Adventure|Animation|Comedy|Family,DreamWorks Animation,5/17/2007,5.8,2007
1168,tt0337909,10000000,96542059,Calendar Girls,Helen Mirren|Julie Walters|John Alderton|Linda...,Nigel Cole,Some ladies will do anything for a good cause.,2003 fact-based comedy with Helen Mirren and J...,108,Comedy,Harbour Pictures|Touchstone Pictures,9/2/2003,6.5,2003
1019,tt1646987,150000000,301000000,Wrath of the Titans,Sam Worthington|Liam Neeson|Ralph Fiennes|Rosa...,Jonathan Liebesman,Feel the Wrath,A decade after his heroic defeat of the monstr...,99,Adventure,Legendary Pictures|Thunder Road Pictures|Warne...,3/27/2012,5.5,2012
425,tt0889573,19000000,49830607,The Switch,Jason Bateman|Jennifer Aniston|Jeff Goldblum|J...,Josh Gordon|Will Speck,The most unexpected comedy ever conceived.,An unmarried 40-year-old woman turns to a turk...,101,Comedy|Romance|Drama,Mandate Pictures|Bona Fide Productions|Echo Films,5/11/2010,5.8,2010
1395,tt0384642,45000000,56070433,Kicking & Screaming,Will Ferrell|Robert Duvall|Kate Walsh|Musetta ...,Jesse Dylan,One man could lead this team to glory. . . Tha...,Phil Weston has been unathletic his entire lif...,95,Romance|Comedy|Family,Universal Pictures,5/13/2005,5.8,2005

In [29]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [30]:
data.columns = ['id','budget','revenue','title','cast','director','tagline','overview','runtime','genres','company','date','vote','year']
data = data.dropna()
data['profit'] = data.revenue - data.budget
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [31]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [32]:
budget_max = data.copy()
budget_max = budget_max[budget_max.budget == budget_max.budget.max()]
display(budget_max)

,id,budget,revenue,title,cast,director,tagline,overview,runtime,genres,company,date,vote,year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [33]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [34]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [35]:
runtime_max = data.copy()
runtime_max = runtime_max[runtime_max.runtime == runtime_max.runtime.max()]
display(runtime_max)

,id,budget,revenue,title,cast,director,tagline,overview,runtime,genres,company,date,vote,year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [36]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [37]:
runtime_min = data.copy()
runtime_min = runtime_min[runtime_min.runtime == runtime_min.runtime.min()]
display(runtime_min)

,id,budget,revenue,title,cast,director,tagline,overview,runtime,genres,company,date,vote,year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [38]:
answers['4'] = '110'

In [39]:
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [40]:
answers['5'] = '107'

In [41]:
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [42]:
answers['6'] = 'Avatar (tt0499549) '

In [43]:
profit_max = data.copy()
profit_max = profit_max[profit_max.profit == profit_max.profit.max()]
display(profit_max)

,id,budget,revenue,title,cast,director,tagline,overview,runtime,genres,company,date,vote,year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [45]:
answers['7'] = 'The Lone Ranger (tt1210819) '

In [46]:
profit_min = data.copy()
profit_min = profit_min[profit_min.profit == profit_min.profit.min()]
display(profit_min)

,id,budget,revenue,title,cast,director,tagline,overview,runtime,genres,company,date,vote,year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [47]:
answers['8'] = '1478'

In [48]:
data_8 = (data['profit'] > 0 ).sum()
display(data_8)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [50]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [51]:
data_2008 = data[data.year == 2008]
profit_max_2008 = data_2008[data_2008.profit == data_2008.profit.max()]
display(profit_max_2008)

,id,budget,revenue,title,cast,director,tagline,overview,runtime,genres,company,date,vote,year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [52]:
answers['10'] = 'The Lone Ranger (tt1210819) '

In [53]:
data_2012_2014 = data.query('2012<=year<=2014')
profit_min_2012_2014 = data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()]
display(profit_min_2012_2014)

,id,budget,revenue,title,cast,director,tagline,overview,runtime,genres,company,date,vote,year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [54]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [55]:
genre = data.genres.str.split("|")
genre = genre.explode()
genre = genre.describe()
display(genre)

count      5107
unique       19
top       Drama
freq        782
Name: genres, dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [56]:
answers['12'] = 'Drama '

In [57]:
profit_films = (data[data.profit > 0])
profit_genre = profit_films.genres.str.split("|")
profit_genre = profit_genre.explode()
profit_genre = profit_genre.describe()
display(profit_genre)

count      3962
unique       18
top       Drama
freq        560
Name: genres, dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [58]:
answers['13'] = 'Peter Jackson'

In [59]:
datadir = data.copy()
datadir['director'] = datadir.director.apply(lambda x: str(x).split('|'))
datadir = datadir.explode('director')
datadir = datadir.groupby(['director']).sum().sort_values(by=['revenue'],ascending=False)
datadir = datadir[datadir.revenue == datadir.revenue.max()]
display(datadir)

                   budget     revenue  runtime  vote   year      profit
director
Peter Jackson  1288000000  6490593685     1355  58.1  16059  5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [60]:
answers['14'] = 'Robert Rodriguez'

In [61]:
datadir_action = data.copy()
datadir_action['director'] = datadir_action.director.apply(lambda x: str(x).split('|'))
datadir_action = datadir_action.explode('director',ignore_index=True)
datadir_action['genres'] = datadir_action.genres.apply(lambda x: str(x).split('|'))
datadir_action = datadir_action.explode('genres',ignore_index=True)
datadir_action = datadir_action[['director','genres']]
datadir_action = datadir_action[datadir_action.genres == 'Action'].director.value_counts()
display(datadir_action.head(1))

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [64]:
answers['15'] = 'Chris Hemsworth '

In [65]:
data_actor = data.copy()
data_actor['cast'] = data_actor.cast.apply(lambda x: str(x).split('|'))
data_actor = data_actor.explode('cast',ignore_index=True)
actor_2012 = data_actor[data_actor.year == 2012]
actor_2012 = actor_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
display(actor_2012.head(1))

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [66]:
answers['16'] = 'Matt Damon '

In [67]:
data_actor = data.copy()
data_actor['cast'] = data_actor.cast.apply(lambda x: str(x).split('|'))
data_actor = data_actor.explode('cast',ignore_index=True)
actor = data_actor[data_actor.budget > data_actor.budget.mean()].cast.value_counts()
display(actor)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Steve Toussaint       1
Tom Wilkinson         1
Shelbie Bruce         1
Diana Scarwid         1
Raymond Ochoa         1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [68]:
answers['17'] = 'Action'

In [69]:
data_17 = data.copy()
data_17['cast'] = data_17.cast.apply(lambda x: str(x).split('|'))
data_17 = data_17.explode('cast',ignore_index=True)
data_17['genres'] = data_17.genres.apply(lambda x: str(x).split('|'))
data_17 = data_17.explode('genres',ignore_index=True)
data_17 = data_17[data_17.cast == 'Nicolas Cage'].genres.value_counts()
display(data_17)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [70]:
answers['18'] = 'K-19: The Widowmaker (tt0267626) '

In [71]:
data_18 = data.copy()
data_18['company'] = data_18.company.apply(lambda x: str(x).split('|'))
data_18 = data_18.explode('company',ignore_index=True)
data_18 = data_18[data_18.company == 'Paramount Pictures']
data_18 = data_18[data_18.profit == data_18.profit.min()]
display(data_18)

,id,budget,revenue,title,cast,director,tagline,overview,runtime,genres,company,date,vote,year,profit
2998,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [72]:
answers['19'] = '2015'

In [73]:
data_19 = data.copy()
tabl19 = data_19.pivot_table(values=['revenue'],\
    index=['year'],\
    aggfunc='sum',\
    fill_value=0)
tabl19 = tabl19[tabl19.revenue == tabl19.revenue.max()]
display(tabl19)

          revenue
year
2015  25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [74]:
answers['20'] = '2014'

In [75]:
data_20 = data.copy()
data_20['company'] = data_20.company.apply(lambda x: str(x).split('|'))
data_20 = data_20.explode('company',ignore_index=True)
data_20 = data_20[data_20.company.str.contains('Warner Bros')]
tabl20 = data_20.pivot_table(values=['revenue'],\
    index=['year'],\
    aggfunc='sum',\
    fill_value=0)
tabl20 = tabl20[tabl20.revenue == tabl20.revenue.max()]
display(tabl20)

         revenue
year
2014  3246549646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [76]:
answers['21'] = 'Сентябрь'

In [77]:
data_21 = data.copy()
data_21.date = data_21.date.str.split('/').apply(lambda x: (x)[0])
data_21 = data_21.date.value_counts()
display(data_21)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [78]:
answers['22'] = '450'

In [79]:
data_22 = data.copy()
data_22.date = data_22.date.str.split('/').apply(lambda x: (x)[0])
data_22 = data_22.date.value_counts().sort_index(ascending=True)
data_22.index = ['01', '10', '11', '12', '02', '03', '04', '05', '06', '07', '08', '09']
data_22 = data_22.sort_index(ascending=True)
data_22 = data_22[5] + data_22[6] + data_22[7]
display(data_22)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
answers['23'] = 'Peter Jackson'

In [81]:
data_23 = data.copy()
data_23['director'] = data_23['director'].str.split('|')
data_23 = data_23.explode('director')
data_23['date'] = pd.to_datetime(data_23['date'])
data_23 = data_23[data_23['date'].dt.month.isin([1, 2, 12])]
data_23 = data_23.director.reset_index()
data_23 = Counter(data_23['director']).most_common()
display(data_23[0])

('Peter Jackson', 7)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [82]:
answers['24'] = 'Four By Two Productions '

In [83]:
data_24 = data.copy()
data_24['company'] = data_24.company.apply(lambda x: str(x).split('|'))
data_24 = data_24.explode('company',ignore_index=True)
data_24 = pd.DataFrame(data_24, columns=['company', 'title'])
data_24.title = data_24.title.str.len()
data_24 = data_24.groupby('company')['title'].mean().reset_index()
data_24 = data_24[data_24.title == data_24.title.max()]
display(data_24)

                     company  title
583  Four By Two Productions   83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [84]:
answers['25'] = 'Midnight Picture Show'

In [85]:
data_25 = data.copy()
data_25['company'] = data_25.company.apply(lambda x: str(x).split('|'))
data_25 = data_25.explode('company',ignore_index=True)
data_25.overview = data_25['overview'].apply(lambda x: len(x.split()))
data_25 = data_25.groupby('company')['overview'].mean().reset_index()
data_25 = data_25[data_25.overview == data_25.overview.max()]
display(data_25)

                    company  overview
1041  Midnight Picture Show     175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [86]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [87]:
data_26 = data.copy()
border = data_26.quantile(0.99, numeric_only=True)['vote']
data_26 = data_26[data_26.vote > border].sort_values('vote',ascending=False)
display(data_26.title.head(20))

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [88]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [89]:
#import itertools as it  #это я вынес в библиотеки
data_27 = data.copy()
data_27['cast'] = data_27.cast.apply(lambda x: str(x).split('|'))
data_27['cast'] = data_27['cast'].apply(lambda x: tuple(it.combinations(sorted(x),2)))
data_27 = data_27.cast.explode().value_counts()
display(data_27)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Ari Graynor, Chris Pratt)             1
(Alicia Witt, Amy Brenneman)           1
(Cate Blanchett, Tony Curran)          1
(Joel Kinnaman, Liam Neeson)           1
(Bryan Cranston, John Goodman)         1
Name: cast, Length: 17943, dtype: int64

# Submission

In [90]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Chris Hemsworth ',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549) ',
 '7': 'The Lone Ranger (tt1210819) ',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819) ',
 '11': 'Drama',
 '12': 'Drama ',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth ',
 '16': 'Matt Damon ',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626) ',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions ',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [91]:
# и убедиться что ни чего не пропустил)
len(answers)

27